@import helper._

@(users: List[models.User])

@main("Users") {
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th></th>
				</tr>
				@for(user <- users) {
				<tr>
					<td><a href="@routes.Users.show(user.id)">@user.name</a></td>
					<td>@user.email</td>
					<td>						
						@form(routes.Users.delete(user.id)) { 
						@CSRF.formField
						<div class="btn-group btn-group-sm" role="group" aria-label="user-tools">
							<a class="btn btn-default btn-sm" role="button" href="@routes.Users.edit(user.id)">edit</a>
							<button class="btn btn-danger btn-sm">delete</button> 
						</div>	
						}
					</td>
				</tr>
				}
			</table>
		</div>	
	</div>
}